<h3>The 1980s</h3>
<%= button_to 'Index', movies_path, method: 'get' %>
<br>
<%@eighties_movies.each do |movie|%>
<%if movie.image != ""%>
<div class="posters"> 
  <a href=/movies/<%="#{movie.id}"%>>
  <img src=https://<%="#{movie.image}"%> width="300" height="300"> <br>
  </a>
</div>
<%end%>
<%end%>