<h1>Movie Index</h1>
<%= button_to 'Search', movies_search_path, method: 'get' %>
<br>
<ul>
  <li><a href=/movies/twenties>1920s</a></li>
  <li><a href=/movies/thirties>1930s</a></li>
  <li><a href=/movies/forties>1940s</a></li>
  <li><a href=/movies/fifties>1950s</a></li>
  <li><a href=/movies/sixties>1960s</a></li>
  <li><a href=/movies/seventies>1970s</a></li>
  <li><a href=/movies/eighties>1980s</a></li>
  <li><a href=/movies/nineties>1990s</a></li>
  <li><a href=/movies/aughts>2000s</a></li>
  <li><a href=/movies/twentytens>2010s</a></li>
  <ul>

<%@movies.each do |movie|%>
<%if movie.image != ""%>
<div class="posters"> 
  <a href=/movies/<%="#{movie.id}"%>>
  <img src=https://<%="#{movie.image}"%> width="300" height="300"> <br>
  </a>
</div>
<%end%>
<%end%>

<!-- - div for poster css 
- href link to movie show page 
- display all movie images -->