<h1>Movie Index</h1>
<br>
<ul>
  <li><a href=/movies/decades/30s>30s</a></li>
  <li><a href=/movies/40s>40s</a></li>
  <li><a href=/movies/decades>50s</a></li>
  <li><a href=/movies/decades>60s</a></li>
  <li><a href=/movies/decades>70s</a></li>
  <li><a href=/movies/decades>80s</a></li>
  <li><a href=/movies/decades>90s</a></li>
  <li><a href=/movies/decades>00s</a></li>
  <li><a href=/movies/decades>10s</a></li>
  <ul>
<!--   this seems a bit redundant 
  do a show page? how do we input the decade that they choose to filter it -->

<%@movies.each do |movie|%>
<%if movie.image != ""%>
<div class="posters"> 
  <a href=/movies/<%="#{movie.id}"%>>
  <img src=https://<%="#{movie.image}"%> width="300" height="300"> <br>
  </a>
</div>
<%end%>
<%end%>

<!-- - div for poster css 
- href link to movie show page 
- display all movie images -->